@model CrossValidationResult

<p><b>Wielkość próbki: </b>@Model.SampleSize</p>
<p><b>Ilość poprawnie sklasyfikowanych: </b>@Model.CorrectlyClassified</p>
<p><b>Jakość: </b>@Model.CorrectnessPercent.ToString("0.##")%</p>
